<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
</head>
<body>

<div class="container">
    <div class="logo">
        <a th:href="@{/businessPage.html}">
            <img src="../static/image/img.png" th:src="@{/image/img.png}" alt="Logo">
        </a>
    </div>
    <div class="logout-button">
        <a th:href="@{/logout}">
            <button>Logout</button>
        </a>
    </div>
</div>

</body>
</html>