<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
</head>
<body>
<div class="container">
    <div class="logo">
        <a th:href="@{/damage}">
            <img src="../static/image/img.png" th:src="@{/image/img.png}" alt="Logo">
        </a>
    </div>
    <!--    dropdown menu med inspiration fra https://jsfiddle.net/8evtxnsL/, Bjarke-->
    <div class="dropdown" tabindex="1">
        <a class="drop_button">Vælg handling</a>
        <div class="drop_content">
            <a href="/ubehandledeBiler"> Biler der mangler rapport </a>
            <a href="/reports">Se oversigt over rapporter</a>
            <a href="/yourReports">Dine rapporter</a>
            <a href="/create">Opret rapport</a>
        </div>
    </div>
    <div class="logout-button">
        <a th:href="@{/logout}">
            <button>Logout</button>
        </a>
    </div>
</div>
</body>
</html>
