<div class="container">
    <div class="logo">
        <a th:href="@{/dataregistration.html}">
            <img src="../static/image/img.png" th:src="@{/image/img.png}" alt="Logo">
        </a>
    </div>
<!--    dropdown menu med inspiration fra https://jsfiddle.net/8evtxnsL/, Bjarke-->
    <div class="dropdown">
        <a class="drop_button">Vælg handling</a>
        <div class="drop_content">
            <a th:href="@{/findRental}">Se oversigt over lejeaftaler</a>
            <a th:href="@{/findBooking}">Se oversigt over bookinger</a>
            <a th:href="@{/createRental}">Opret lejeaftale</a>
        </div>
    </div>
    <div class="logout-button">
        <a th:href="@{/logout}">
            <button>Logout</button>
        </a>
    </div>
</div>

