h1, h2, p, a, li {
    font-family: "Arial", sans-serif;
}

.rentalForm{
    width: 80%;
    margin: auto;
    border: 2px solid black;
    text-align: center;
}



.split {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px auto auto auto;
}

.thirds{
    width: 33%;
    margin: auto;
    display: inline;
    overflow:auto;



}