/* Bjarke og Severin */

h1, h2, p, a, li, tr,th,td {
    font-family: "Arial", sans-serif;
}

.main {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.split {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px auto auto auto;

}

.halves{
    width: 48%;
    display: inline;
    overflow:auto;
    margin: 0 auto auto auto;


}

.splitHead{
    text-align: center;
}

.taskList{
    text-align: center;
}

li {
    margin: 18px 0;
}

.car{
    width: 380px;
    height: 440px;
    display: inline-grid;
}

table {
    width: 80%;
    color: black;
    border-collapse: collapse;
    margin: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

#reportButton {
    height:30px;
    width:120px;

}
.reportButtonDiv{
    text-align: center;
}

#DS{
    width: 50%;
    margin: 80px auto auto auto;
}