h1, h2, p, a, li {
    font-family: "Arial", sans-serif;
}



.main {
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
}

.split {
    width: 80%;
    display: flex;
    align-items: center;
    position: relative;
    margin: 30px auto auto auto;

}

.halves{
    width: 50%;
    display: inline;
    overflow:auto;
    margin: 0 auto auto auto;


}

.splitHead{
    text-align: center;
}

.taskList{
    text-align: center;
}

li {
    margin: 18px 0;
}


