
<!--Youssef-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oversigt over biler</title>
    <link rel="stylesheet" href="../static/CSS/overviewReports.css" th:href="@{/CSS/overviewReports.css}">
</head>
<body>

<header th:insert="fragments/businessheader.html"></header>

<div class="main">
    <h1>Oversigt over alle biler</h1>
    <div class="info">
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Mærke</th>
                <th>Model</th>
                <th>Farve</th>
                <th>Nummerplade</th>
                <th>Brændstoftype</th>
                <th>Km kørt</th>
                <th>Brændstofeffektivitet</th>
                <th>Gear Type</th>
                <th>Funktioner</th>
                <th>Status</th>
                <th>Pris</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${cars}">
                <td th:text="${car.id}"></td>
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.color}"></td>
                <td th:text="${car.licensePlate}"></td>
                <td th:text="${car.fuelType}"></td>
                <td th:text="${car.kmTraveled}"></td>
                <td th:text="${car.fuelEfficiency}"></td>
                <td th:text="${car.manual ? 'Manual' : 'Automatic'}"></td>
                <td th:text="${car.trimLevel}"></td>
                <td th:text="${car.status}"></td>
                <td th:text="${car.price}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
