<!DOCTYPE html>
<html lang="en">
<head>

    <!--Clara-->
    <meta charset="UTF-8">
    <title>Biler der mangler behandling</title>
    <link rel="stylesheet" href="../static/css/damagehome.css" th:href="@{/css/damagehome.css}">
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
</head>
<body>

<header th:insert="fragments/damageheader.html"></header>

<h1>Beskadigede biler der mangler opfølgning på</h1>

<table class="taskList">
    <thead>
    <tr>
        <th> Bilmærke</th>
        <th> Stelnummer</th>
        <th> Model</th>
        <th> Farve</th>
        <th> Udstyrsniveau</th>
        <th> Status</th>
        <th> Brændstofstype</th>
        <th> Distance kørt</th>
        <th> Km pr. liter brændstof</th>
        <th> Pris</th>
        <th> Manuelt gear?</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="car : ${listOfDamagedCars}">
        <td th:text="${car.brand}"></td>
        <td th:text="${car.serialNumber}"></td>
        <td th:text="${car.model}"></td>
        <td th:text="${car.color}"></td>
        <td th:text="${car.trimLevel}"></td>
        <td th:text="${car.status}"></td>
        <td th:text="${car.fuelType}"></td>
        <td th:number="${car.kmTraveled}"></td>
        <td th:text="${car.fuelEfficiency}"></td>
        <td th:number="${car.price}"></td>
        <td th:text="${car.manual}"></td>
        <td><a th:href="@{'/damageform/'+ ${car.id}}" href="damageform.html"><button class="rapportknap"> Opret rapport </button></a></td>

    </tr>
    </tbody>
</table>

</body>
</html>