<!DOCTYPE html>
<!-- Bjarke og Severin -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Skade og udbedring</title>
    <link rel="stylesheet" href="../static/CSS/damagehome.css" th:href="@{/CSS/damagehome.css}">
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a th:href="@{/static}"> <img src="../static/image/img.png" th:src="@{/image/img.png}" alt="Logo"> </a>
        </div>

        <div class="dropdown" tabindex="1">
            <i class="db2" tabindex="1"></i>
            <a class="drop_button">Vælg handling</a>
            <div class="drop_content">
                <a href="/ubehandledeBiler">Se oversigt over ubehandlede biler</a>
                <a href="/reports">Se oversigt over skaderapporter</a>

            </div>
        </div>

        <div class="logout-button">
            <a th:href="@{/logout}"> <button>Logout </button></a>
        </div>
    </div>
</header>

<div class="main">
    <h1>Velkommen til Skade og udbedring</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>



<div class="split">


    <div class="halves">

        <h2 class="splitHead">
            Indleveret i dag.
        </h2>

        <table class="taskList">
            <thead>
            <tr>
                <th>Bilmærke</th>
                <th>Model</th>
                <th>Indleveret</th>
                <th>Nummerplade</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${carlist}">
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.lastUpdated}"></td>
                <td th:text="${car.licensePlate}"></td>
                <td th:text="${car.status}"></td>
                <td><a th:href="@{'/damageform/' + ${car.id}}" href="damageform.html"><button class="rapportknap"> Opret rapport</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>



    <div class="halves">

        <h2 class="splitHead"> Status uændret i to uger eller mere </h2>

        <table class="tasklist">
            <thead>
            <tr>
                <th>Bilmærke</th>
                <th>Model</th>
                <th>Indleveret</th>
                <th>Nummerplade</th>
                <th>Status</th>
                <th>Rediger</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="car : ${pendingcarlist}">
                <td th:text="${car.brand}"></td>
                <td th:text="${car.model}"></td>
                <td th:text="${car.lastUpdated}"></td>
                <td th:text="${car.licensePlate}"></td>
                <td th:text="${car.status}"></td>
                <td><a th:href="@{'/damageform/' + ${car.id}}" href="damageform.html"><button>Rediger</button></a></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>