<!DOCTYPE html>
<!-- Youssef -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opret rapport</title>
    <link rel="stylesheet" href="../static/CSS/damageform.css" th:href="@{/CSS/damageform.css}">
</head>
<body>

<header th:insert="fragments/damageheader.html"></header>

<!-- <div class="reportform">
    <div class="reportfield">
        <p th:text="'Mærke: ' + ${car.brand}"></p>
        <p th:text="'Model: ' + ${car.model}"></p>
        <p th:text="'Indleveret: ' + ${car.lastUpdated}"></p>
        <p th:text="'Nummerplade: ' + ${car.licensePlate}"></p>
        <p th:text="'Status: ' + ${car.status}"></p>
    </div>-->
<div class="reportform">
    <form action="/createReport" method="post">
        <h2>Opret skadesrapport</h2>

        <div class="reportFields">
            <label for="rentalId">Udlejnings-ID:</label>
            <input id="rentalId" name="rentalId" type="text" required>
        </div>

        <div class="reportFields">
            <label for="title">Titel:</label>
            <input id="title" name="title" type="text" required>
        </div>

        <div class="reportFields">
            <label for="date">Dato:</label>
            <input id="date" name="date" type="date" required>
        </div>

        <div class="reportFields">
            <label for="treatment">Behandling:</label>
            <textarea id="treatment" name="treatment"></textarea>
        </div>

        <div class="reportFields">
            <label for="comment">Kommentar:</label>
            <textarea id="comment" name="comment"></textarea>
        </div>

        <div class="damage">
            <h3>Skader</h3>
            <!-- Et Thymleaf loop der itererer fa 0 - 4-->
            <div class="reportFields" th:each="i : ${#numbers.sequence(0, 4)}">
                <!-- Generere et unikt name til hver input ved brug af thymeleaf -->
                <input type="text" th:name="|report[${i}].damage|" placeholder="Beskrivelse af skade" />
                <input type="number" step="0.01" th:name="|report[${i}].price|" placeholder="Pris" />
            </div>
        </div>
        <div class="reportFields">
            <h3>Status</h3>
            <select id="status" name="status">
                <option value="PENDING">Afventer behandling</option>
                <option value="DAMAGED">Skadet</option>
                <option value="AVAILABLE">Klar til udlejning</option>
            </select>
        </div>
        <div id="rapportKnap">
        <button type="submit">Opret rapport</button>
        </div>
    </form>
</div>

</body>
</html>