<!DOCTYPE html>
<!-- Bjarke og Severin -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>dataregistration</title>
    <link rel="stylesheet" href="../static/CSS/damageform.css" th:href="@{/CSS/damageform.css}">
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">

</head>
<body>

<header th:insert="fragments/damageheader.html"></header>

<div class="reportform">
    <div class="reportfield">
        <p th:text="'Mærke: ' + ${car.brand}">test</p>
        <p th:text="'Model: ' + ${car.model}">test</p>
        <p th:text="'Indleveret: ' + ${car.lastUpdated}">test</p>
        <p th:text="'Nummerplade: ' + ${car.licensePlate}">test</p>
        <p th:text="'Status: ' + ${car.status}">test</p>
    </div>

    <form action="/createReport" method="post">
        <!-- Todo: implementer funktionalitet. -->


        <div class="reportfield">
            <div>
                <label for="comment">Kommentar</label>
            </div>
            <div>
                <textarea id="comment" name="comment" placeholder="Kommentar..."></textarea>
            </div>
            <div>
                <label for="status">Status</label>
            </div>
            <div>
                <select id="status" name="status">
                    <option value="PENDING">Afventer behandling</option>
                    <option value="DAMAGED">Skadet</option>
                    <option value="AVAILABLE">Klar til udlejning</option>
                </select>
                <input type="submit">
            </div>
        </div>

    </form>
</div>

</body>
</html>