<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dataregistration</title>
  <link rel="stylesheet" href="../static/CSS/dataregistration.css" th:href="@{/CSS/dataregistration.css}">
  <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
</head>

<body>
<header>
  <div class="container">
    <div class="logo">
      <a > <img alt="Logo"> </a>
    </div>

    <div class="dropdown" tabindex="1">
      <i class="db2" tabindex="1"></i>
      <a class="dropbtn">Vælg handling</a>
      <div class="dropdown-content">
        <a th:href="@{/findRental}">Se oversigt over lejeaftaler</a>
        <a th:href="@{/findBooking}">Se oversigt over bookinger</a>
        <a th:href="@{/createRental}">Opret lejeaftale</a>

      </div>
    </div>

    <div class="logout-button">
      <a th:href="@{/logout}"> <button>Logout </button></a>
    </div>
  </div>
</header>

<div class="main">
  <h1>Velkommen til Dataregistrering</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>



<div class="split">


  <div class="halves">

    <h2 class="splitHead">
      Opgaver
    </h2>

    <ol class="tasklist">
      <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
      <li>Sed vitae nisi vel leo efficitur convallis.</li>
      <li>Nulla facilisi. Maecenas euismod ultrices purus, id congue risus tempor nec.</li>
      <li>Proin vitae sapien at leo placerat commodo nec et justo.</li>
      <li>Phasellus nec lacinia urna, vitae interdum magna.</li>
      <li>Integer ultrices fringilla eros, nec rutrum odio dignissim quis. Vestibulum at varius mauris.</li>
      <li>Duis id quam eget arcu fermentum euismod. Quisque non vestibulum lorem. Fusce nec scelerisque magna.</li>


    </ol>
  </div>



  <div class="halves">

    <h2 class="splitHead"> Bookinger </h2>

  </div>


</div>

</body>
</html>