<!--Bjarke-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>dataregistration</title>
  <link rel="stylesheet" href="../static/CSS/overviewRentals.css" th:href="@{/CSS/overviewRentals.css}">
</head>

<body>

<header th:insert="~{fragments/rentalheader.html}"></header>

<div class="main">
  <h1>Velkommen til Dataregistrering</h1>
  <br>
  <h1>Oversigt over ledige biler:</h1>
  <table>
    <thead>
    <tr>
      <th>#</th>
      <th>Mærke</th>
      <th>Model</th>
      <th>Udstyrsniveau</th>
      <th>Brændstof</th>
      <th>Pris</th>


    </tr>
    </thead>
    <tbody>

    <tr th:each="car : ${carList}">
      <td th:text="${car.getId()}"> </td>
      <td th:text="${car.getBrand()}"> </td>
      <td th:text="${car.getModel()}"> </td>
      <td th:text="${car.getTrimLevel()}"> </td>
      <td th:text="${car.getFuelType()}"> </td>
      <td th:text="${car.getPrice()+' kr.'}"> </td>



    </tr>

    </tbody>

  </table>

</div>

</body>
</html>