<!-- Bjarke og Severin -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forside</title>
    <link rel="stylesheet" href="../static/CSS/login.css" th:href="@{/CSS/login.css}">
</head>
<body>

<div class="loginForm">
    <form action="/loggingIn" method="post"> <!-- opdaterede til loggingIn -->

        <h1>Login</h1>

        <div class="loginFields">
            <div>
                <label for="username">Brugernavn</label>
            </div>
            <div>
                <input type="text" name="username" id="username" th:value="${username}" required>
            </div>
        </div>

        <span style=" color:red"><p id="user_not_found"></p></span>

        <div class="loginFields">
            <div>
                <label for="password">Adgangskode</label>
            </div>
            <div>
                <input type="password" id="password" name="password" th:value="${password}" required>
            </div>
        </div>

        <span style="color:red"><p id="password_mismatch"></p></span>

        <div id="createuseroption">
            <a th:href="@{/createUser}">Registrer</a>
        </div>

        <div class="buttonDiv">
            <input class="loginButton" type="submit" value="Login">
        </div>

    </form>
</div>

<script th:inline="javascript">
    var userNotFound = /*[[${userNotFound}]]*/ false;
    if (userNotFound===true){
        document.getElementById("user_not_found").innerHTML="Denne bruger findes ikke.";
    }
</script>
<script th:inline="javascript">
    var passwordMismatch = /*[[${passwordMismatch}]]*/ false;
    if (passwordMismatch===true){
        document.getElementById("password_mismatch").innerHTML="Forkert password til denne bruger.";
    }
</script>

</body>
</html>