<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" href="../static/CSS/overviewRentals.css" th:href="@{/CSS/overviewRentals.css}">

</head>
<body>

<header th:insert="fragments/damageheader.html"></header>

<div class="main">
    <h2>Rapport oversigt</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Udlejnings-ID</th>
            <th>Title</th>
            <th>Dato</th>
            <th>Behandling</th>
            <th>Beskrivelse</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.id}"></td>
            <td th:text="${report.rentalId}"></td>
            <td th:text="${report.title}"></td>
            <td th:text="${report.date}"></td>
            <td th:text="${report.comment}"></td>
            <td>
                <button class="update">Opdater</button>
                <button class="delete">Slet</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>