<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>overviewRentals</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" href="../static/CSS/overviewRentals.css" th:href="@{/CSS/overviewRentals.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a > <img src="" alt="Logo"> </a>
        </div>

        <div class="dropdown" tabindex="1">
            <i class="db2" tabindex="1"></i>
            <a class="dropbtn">Vælg handling</a>
            <div class="dropdown-content">
                <a th:href="@{/findRental}">Se oversigt over lejeaftaler</a>
                <a th:href="@{/findBooking}">Se oversigt over bookinger</a>
                <a th:href="@{/createRental}">Opret lejeaftale</a>

            </div>
        </div>

        <div class="logout-button">
            <a th:href="@{/logout}"> <button>Logout </button></a>
        </div>
    </div>
</header>

<div class="main">
    <h1>Oversigt over lejeaftaler</h1>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Make</th>
            <th>Model</th>
            <th>Year</th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>

            <tr>
                <td>1</td>
                <td>Honda</td>
                <td>Accord</td>
                <td>2009</td>
                <td>500</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Toyota</td>
                <td>Camry</td>
                <td>2012</td>
                <td>800</td>
            </tr>
        <tr>
            <td>1</td>
            <td>Honda</td>
            <td>Accord</td>
            <td>2009</td>
            <td>500</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Toyota</td>
            <td>Camry</td>
            <td>2012</td>
            <td>800</td>
        </tr>
            <!--    <tr th:each="car : ${cars}">-->
            <!--        <td><a th:href="@{${wish.url}}" th:text="${wish.name}"></a></td>-->
            <!--        <td th:text="${wish.price}"></td>-->
            <!--        <td th:text="${wish.amount}"></td>-->
            <!--        <td th:text="${wish.description}"></td>-->
            <!--        <td> <img th:src="@{${wish.image_url}}" alt="If this image displays, I'll eat my hat."> </td>-->
            <!--    </tr>-->
    </tbody>
    </table>

</div>

</body>
</html>