<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>overviewRentals</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" href="../static/CSS/overviewRentals.css" th:href="@{/CSS/overviewRentals.css}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a > <img src="" alt="Logo"> </a>
        </div>

        <div class="dropdown" tabindex="1">
            <i class="db2" tabindex="1"></i>
            <a class="dropbtn">Vælg handling</a>
            <div class="dropdown-content">
                <a th:href="@{/findRental}">Se oversigt over lejeaftaler</a>
                <a th:href="@{/findBooking}">Se oversigt over bookinger</a>
                <a th:href="@{/createRental}">Opret lejeaftale</a>

            </div>
        </div>

        <div class="logout-button">
            <a th:href="@{/logout}"> <button>Logout </button></a>
        </div>
    </div>
</header>

<div class="main">
    <h1>Oversigt over lejeaftaler</h1>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Kunde ID</th>
            <th>Kunde navn</th>
            <th>Kunde tlf.</th>
            <th>Bil ID</th>
            <th>Start</th>
            <th>Slut</th>

        </tr>
        </thead>
        <tbody>

<!--            <tr>-->
<!--                <td>1</td>-->
<!--                <td>Honda</td>-->
<!--                <td>Accord</td>-->
<!--                <td>2009</td>-->
<!--                <td>500</td>-->
<!--            </tr>-->

                <tr th:each="rental : ${rentalList}">
                   <td th:text="${rental.getId()}"> </td>
                    <td th:text="${rental.getCustomerId()}"> </td>
                    <td th:text="${rental.getName()}"> </td>
                    <td th:text="${rental.getTelnr()}"> </td>
                   <td th:text="${rental.carID}"></td>
                    <td th:text="${rental.getStartDate()}"></td>
                    <td th:text="${rental.getEndDate()}"></td>
               </tr>

    </tbody>
<!--        <tbody>-->


<!--        <tr th:each="rental : ${rentalList}">-->

<!--            <td th:text="${rental.getName()}"> </td>-->


<!--        </tr>-->
<!--        </tbody>-->
    </table>

</div>

</body>
</html>