
<!--Youssef-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rapport Oversigt</title>
    <link rel="stylesheet" href="../static/CSS/overviewReports.css" th:href="@{/CSS/overviewReports.css}">
</head>
<body>

<!-- Indsæt header fragment -->
<header th:insert="~{fragments/damageheader.html}"></header>

<div class="main">
    <!-- Sektionens overskrift -->
    <div class="overskrift">
        <h1>Rapport oversigt</h1>
    </div>

    <!-- Knap til oprettelse af ny rapport -->
    <div class="overskrift">
        <a href="/create"><button class="opretRapport">Opret ny rapport</button></a>
    </div>

    <!-- Tabel til visning af rapporter -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Udlejnings-ID</th>
            <th>Titel</th>
            <th>Dato</th>
            <th>Behandling</th>
            <th>Beskrivelse</th>
            <th>Skader</th>
            <th>Handling</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iteration over rapporter -->
        <tr th:each="report : ${listOfReports}">
            <!-- Rapport data -->
            <td th:text="${report.id}"></td>
            <td th:text="${report.rentalId}"></td>
            <td th:text="${report.title}"></td>
            <td th:text="${report.date}"></td>
            <td th:text="${report.treatment}"></td>
            <td th:text="${report.comment}"></td>
            <td>
                <!-- Liste over skader -->
                <ul>
                    <li th:each="entry : ${report.damages}">
                        Beksrivelse:<span th:text="${entry.key}"></span>
                        pris: <span th:text="${entry.value}"></span>
                    </li>
                </ul>
            </td>
            <td>
                <!-- Knap til opdatering af rapport -->
                <div class="edit-button">
                    <a th:href="@{'/updateForm/' + ${report.id}+'/'+ ${report.rentalId}}">
                        <button>Opdater</button>
                    </a>
                </div>
                <!-- Knap til sletning af rapport -->
                <div class="delete-button">
                    <a th:href="@{'/delete/' + ${report.id}}"
                       onclick="return confirm('Er du sikker på du vil slette rapporten?')">
                        <button>Slet</button>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>
