<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/header.css" th:href="@{/CSS/header.css}">
    <link rel="stylesheet" href="../static/CSS/reportsOverview.css" th:href="@{/CSS/reportsOverview.css}">

</head>
<body>
<header>
    <div class="container">
        <div class="logo">
            <a th:href="@{/static}"> <img src="../static/image/img.png" th:src="@{/image/img.png}" alt="Logo"> </a>
        </div>

        <div class="dropdown" tabindex="1">
            <i class="db2" tabindex="1"></i>
            <a class="drop_button">Vælg handling</a>
            <div class="drop_content">
                <a href="#">Se oversigt over rapporter</a>
                <a href="#">Dine rapporter</a>
                <a href="#">Opret rapport</a>

            </div>
        </div>

        <div class="logout-button">
            <a th:href="@{/logout}"><button>Logout </button> </a>
        </div>
    </div>
</header>
<div class="container">
    <h2>Rapport oversigt</h2>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Udlejnings-ID</th>
            <th>Title</th>
            <th>Dato</th>
            <th>Behandling</th>
            <th>Beskrivelse</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="report : ${reports}">
            <td th:text="${report.id}"></td>
            <td th:text="${report.rentalId}"></td>
            <td th:text="${report.title}"></td>
            <td th:text="${report.date}"></td>
            <td th:text="${report.comment}"></td>
            <td>
                <button class="update">Opdater</button>
                <button class="delete">Slet</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>