<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>frontpage</title>
    <link rel="stylesheet" href="../static/CSS/login.css" th:href="@{/CSS/login.css}">
</head>
<body>

<div class="loginForm">
    <form action="/register" method="post">

        <h1>Registrer bruger</h1>

        <div class="loginFields">
            <div>
                <label for="name">Navn</label>
            </div>
            <div>
                <input type="text" name="name" id="name" required>
            </div>
        </div>
        <div class="loginFields">
            <div>
                <label for="email">E-mail</label>
            </div>
            <div>
                <input type="email" id="email" name="email" required>
            </div>
        </div>
        <div class="loginFields">
            <div>
                <label for="username">Brugernavn</label>
            </div>
            <div>
                <input type="text" name="username" id="username" required>
            </div>
        </div>

        <div class="loginFields">
            <div>
                <label for="password">Adgangskode</label>
            </div>
            <div>
                <input type="password" id="password" name="password" required>
            </div>
        </div>



        <div class="buttonDiv">
            <input class="loginButton" type="submit" value="Registrer">
        </div>

    </form>
</div>

</body>
</html>