<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/CSS/damageform.css" th:href="@{/CSS/damageform.css}">



</head>
<body>

<header th:insert="fragments/rentalheader.html"></header>


<div class="updateReportForm">
    <form action="/updateRental" method="post">
        <h2>Opdater lejeaftale</h2>

        <input name="id" type="number" hidden th:value="${rental.getId()}">

        <div class="reportFields">
            <div>
                <label for="startDate">Startdato:</label>
            </div>
            <div>
                <input id="startDate" name="startDate" type="date" th:value="${rental.getStartDate()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="endDate">Slutdato:</label>
            </div>
            <div>
                <input id="endDate" name="endDate" type="date" th:value="${rental.getEndDate()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="pickUpLocation">Opsamlingssted:</label>
            </div>
            <div>
                <input id="pickUpLocation" name="pickUpLocation" type="text" th:value="${rental.getPickUpLocation()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="returnLocation">Indleveringssted:</label>
            </div>
            <div>
                <input id="returnLocation" name="returnLocation" type="text" th:value="${rental.getReturnLocation()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="cars">Bil:</label>
            </div>
            <div>
                <input list="cars" name="car" th:value="${rentalCar.id} + '. ' + ${rentalCar.getBrand()} + ' - ' + ${rentalCar.getModel()} + ' - ' + ${rentalCar.price}" required>
                <datalist id="cars">
                    <option th:text="${rentalCar.brand}+ ' - ' + ${rentalCar.model}+ ' - ' + ${rentalCar.price}" th:value="${rentalCar.id} + '. ' + ${rentalCar.brand}+ ' - ' + ${rentalCar.model}+ ' - ' + ${rentalCar.price}"></option>
                    <option th:each="car : ${cars}" th:text="${car.brand}+ ' - ' + ${car.model}+ ' - ' + ${car.price}" th:value="${car.id} + '. ' + ${car.brand}+ ' - ' + ${car.model}+ ' - ' + ${car.price}"></option>
                </datalist>
            </div>
        </div>



        <button type="submit" value="Opdater lejeaftale">Opdater lejeaftale</button>
    </form>
</div>

</body>
</html>