<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater</title>
    <link rel="stylesheet" href="../static/CSS/damageform.css" th:href="@{/CSS/damageform.css}">



</head>
<body>
<!-- Indsæt header fragment -->
<header th:insert="~{fragments/rentalheader.html}"></header>


<div class="updateReportForm">
    <form action="/updateRental" method="post">
        <h2>Opdater lejeaftale</h2>

        <input name="id" type="number" hidden th:value="${rental.getId()}">

        <div class="reportFields">
            <div>
                <label for="startDate">Startdato:</label>
            </div>
            <div>
                <input id="startDate" name="startDate" type="date" th:value="${rental.getStartDate()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="endDate">Slutdato:</label>
            </div>
            <div>
                <input id="endDate" name="endDate" type="date" th:value="${rental.getEndDate()}" required>
            </div>
        </div>

        <span style=" color:red"><p id="timeTravelException"></p></span>

        <div class="reportFields">
            <div>
                <label for="pickUpLocation">Opsamlingssted:</label>
            </div>
            <div>
                <input id="pickUpLocation" name="pickUpLocation" type="text" th:value="${rental.getPickUpLocation()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="returnLocation">Indleveringssted:</label>
            </div>
            <div>
                <input id="returnLocation" name="returnLocation" type="text" th:value="${rental.getReturnLocation()}" required>
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="cars">Bil:</label>
            </div>
            <div>
                <input list="cars" id="car" name="car" th:value="${rentalCar.id} + '. ' + ${rentalCar.getBrand()} + ' - ' + ${rentalCar.getModel()} + ' - ' + ${rentalCar.price}" required>
                <datalist id="cars">
                    <option th:text="${rentalCar.brand}+ ' - ' + ${rentalCar.model}+ ' - ' + ${rentalCar.price}" th:value="${rentalCar.id} + '. ' + ${rentalCar.brand}+ ' - ' + ${rentalCar.model}+ ' - ' + ${rentalCar.price}"></option>
                    <option th:each="car : ${cars}" th:text="${car.brand}+ ' - ' + ${car.model}+ ' - ' + ${car.price}" th:value="${car.id} + '. ' + ${car.brand}+ ' - ' + ${car.model}+ ' - ' + ${car.price}"></option>
                </datalist>
            </div>
        </div>

        <span style=" color:red"><p id="carError"></p></span>

        <div class="knap">
            <button type="submit" value="Opdater lejeaftale">Opdater lejeaftale</button>
        </div>
    </form>
</div>

<script th:inline="javascript">
        /* Hvis der er fejl i formularen og den bliver omdiregeret til, overskriv data fra rental objekt med data fra oprindelig formular. */
        var error = /*[[${error}]]*/ false;
        if (error === true) {
            document.getElementById("startDate").value = /*[[${startDate}]]*/ "";
            document.getElementById("endDate").value = /*[[${endDate}]]*/ "";
            document.getElementById("pickUpLocation").value = /*[[${pickUpLocation}]]*/ "";
            document.getElementById("returnLocation").value = /*[[${returnLocation}]]*/ "";
            document.getElementById("car").value = /*[[${car}]]*/ "";
        }

        var carNotFound = /*[[${carNotFound}]]*/ false;
        if (carNotFound === true) {
            document.getElementById("carError").innerHTML = "Kunne ikke finde bilen i systemet.";
        }

        var carAlreadyRented = /*[[${carAlreadyRented}]]*/ false;
        if (carAlreadyRented === true) {
            document.getElementById("carError").innerHTML = "Bilen er allerede udlejet.";
        }

        var timeTravelException = /*[[${timeTravelException}]]*/ false;
        if (timeTravelException === true) {
            document.getElementById("timeTravelException").innerHTML = "Startdato er i fortiden.";
        }

</script>

</body>
</html>