<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Opdater Rapport</title>
    <link rel="stylesheet" href="../static/CSS/damageform.css" th:href="@{/CSS/damageform.css}">
</head>
<body>

<header th:insert="fragments/damageheader.html"></header>

<div class="updateReportForm">
    <form action="/updateReport" method="post">
        <h2>Opdater rapport</h2>

        <input name="id" type="hidden" th:value="${report.id}">

        <div class="reportFields">
            <div>
                <label for="title">Titel:</label>
            </div>
            <div>
                <input id="title" name="title" type="text" th:value="${report.title}">
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="date">Dato:</label>
            </div>
            <div>
                <input id="date" name="date" type="date" th:value="${report.date}">
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="treatment">Behandling:</label>
            </div>
            <div>
                <input id="treatment" name="treatment" type="text" th:value="${report.treatment}">
            </div>
        </div>

        <div class="reportFields">
            <div>
                <label for="comment">Beskrivelse:</label>
            </div>
            <div>
                <textarea id="comment" name="comment" th:text="${report.comment}"></textarea>
            </div>
        </div>

        <div class="reportFields">
            <h3>Status</h3>
            <select id="status" name="status">
                <option value="PENDING">Afventer behandling</option>
                <option value="DAMAGED">Skadet</option>
                <option value="AVAILABLE">Klar til udlejning</option>
            </select>
        </div>
        <div class="knap">
            <button type="submit" value="Opdater rapport">Opdater rapport</button>
        </div>
    </form>
</div>

</body>
</html>
