<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dine rapporter</title>
    <link rel="stylesheet" href="../static/CSS/overviewReports.css" th:href="@{CSS/overviewReports.css}">
</head>
<body>
<!-- Indsæt header fragment -->
<header th:insert="~{fragments/damageheader.html}"></header>

</body>

<h1>Dine rapporter</h1>

<div class="overskrift">
    <a href="/create"><button class="opretRapport">Opret ny rapport</button></a>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Bruger ID</th>
        <th>Udlejnings-ID</th>
        <th>Titel</th>
        <th>Dato</th>
        <th>Behandling</th>
        <th>Beskrivelse</th>
        <th>Skader</th>
        <th>Handling</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="report : ${yourReportslist}">
        <td th:text="${report.getId()}"></td>
        <td th:text="${report.getUser_id()}"></td>
        <td th:text="${report.getRentalId()}"></td>
        <td th:text="${report.getTitle()}"></td>
        <td th:text="${report.getDate()}"></td>
        <td th:text="${report.getTreatment()}"></td>
        <td th:text="${report.getComment()}"></td>
        <td>
            <ul>
                <li th:each="damage : ${report.damages}">
                    <span th:text="${damage.key}"></span> : <span th:text="${damage.value}"></span>
                </li>
            </ul>
        </td>
        <td>
            <div class="edit-button">
                <a th:href="@{'/updateForm/' + ${report.id}+'/'+ ${report.rentalId}}"> <button>Opdater</button></a>
            </div>

            <div class="delete-button">
                <a th:href="@{'/delete/' + ${report.getId()}}"
                   onclick="return confirm('Er du sikker på, at du vil slette denne rapport?')">
                    <button>Slet</button></a>
            </div>
        </td>
    </tr>
    </tbody>
</table>


</html>